{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <ul>
    {% for article in page.get_children.live %}
      {% with article=article.specific %}
        <li>
          <a href="{{ article.url }}">{{ article.title }}</a>
          <p>{{ article.summary }}</p>
          <small>Published on {{ article.publication_date }}</small>
        </li>
      {% endwith %}
    {% empty %}
      <li>No articles found.</li>
    {% endfor %}
  </ul>
{% endblock %}
